body {
    background: white;
    padding:0px;
    margin:0px;
}

li {
    list-style-type: none;
}

#newCleverBot {
    display: none;
}

#mainCon {
    display: flex;
    margin-top: 40px;
    height: calc(100% - 40px;);
}

#windowManager {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    margin: 0px;
    margin-bottom: 4px;
    padding: 4px;
    background-color: rgb(50 74 118);
    border-bottom: 1px solid #00000026;
    box-shadow: 0 0 3px 1px #00000069;
    padding: 10px;
}

.omegleContainer {
    margin-top: 70px;
    margin-left: 10px;
    margin-bottom: 15px;
    height: fit-content;
    display: list-item;
    background: #ebebeb;
    box-shadow: 0 0 3px 1px #00000061;
    padding: 10px;
}

.chatMain {
    margin: 0px;
    margin-left: -8px;
    padding: 0px;
    padding-left: 32px;
    vertical-align: top;
}

.chatLeft {
    margin: 0px;
    margin-left: -32;
    padding: 0px;
    vertical-align: top;
    display: inline;
}

.omegleContainer input[type="submit"] {
    width: 80px;
    height: 40px;
    margin-right: 4px;
    vertical-align: top;
}

.omegleContainer button {
    height: 40px;
    margin: 5px;
    vertical-align: top;
}

.omegleContainer label {
    margin-left: 8px;
    margin-right: 4px;
}

.flashCon {
    width: 410px;
    height: 240px;
    text-align: center;
}

.omegleField {
    resize: none;
    padding: 10px;
    margin: 4px;
    width: 400px;
    background: whitesmoke;
    border: none;
    border-radius: 0px 0px 10px 10px;
}

.omegleDebugField {
    display: none;
}

.debugMode .omegleDebugField {
    display: block;
    width: 400px;
    height:120px;
    border: 4px solid #AAA;
    resize: none;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
    overflow-y: scroll;
}

.omegleWindowContainer {
    margin-top: 30px;   

}

.debugMode .omegleWindowContainer {
    bottom: calc(366px + 120px);
}

.videoEnabled .omegleWindowContainer {
    top: 286px;
    bottom: 434px;
}

.omegleClose {
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    /* margin: 10px; */
    font-weight: bolder;
    color: red;
    top: 110px;
    margin: 6px;
}


.omegleClose {
    color: #ff0000a6;
}

.omegleClose.alt {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 4px;
}

.omegleWindow {
    margin: 5px;
    width: 400px;
    border: none;
    background: whitesmoke;
    font-family: Helvetica,Arial,sans-serif;
    padding: 4px;
    /*overflow-y: scroll;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100px;
}

.highlight {
    background: #FFd5cc;
}

.highlight .omegleWindow {
    border: 1px solid #F00 !important;
}

.omegleAutoMessage {
    width: 120px;
    height: 65px !important;
    resize: none;
    display: inline-block;
    padding: 4px;
}

.omegleClientId {
    padding: 4px;
    width: 120px;
    height: 20px !important;
}

.nameField {
    width: 145px;
    height: 25px !important;
    margin: 4px;
    /* margin-top: 2px; */
    resize: none;
    /* display: inline-block; */
    padding: 0px;
    overflow: hidden;
}

.timeField {
    width: 79px;
    height: 30px !important;
    margin-left: 4px;
    margin-top: 2px;
    resize: none;
    /* display: inline-block; */
    padding: 0px;
    overflow: hidden;
}

.topicField {
    height: 80px;
    resize: none;
    padding: 10px;
    border: none;
    outline: none;
    margin: 10px;
}

.omegleBroadcast {
    display: inline;
}

pre {
    margin:0px;
    white-space: pre-wrap;
}

#totalOmeglers {
    float:right;
    margin-right:10px;
}

.broadcastSelf {
    background: #0F0;
    padding: 2px px 1px 2px;
    display: inline;
    border-radius: 100px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 1px;
}

.easySend {
    width: 16px;
    padding: 0px 5px 2px 12px;
    margin-right: 0px;
    color: #000;

    -moz-border-radius: 8px;
    border-radius: 8px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    cursor: hand;
}

#autoBlackholeList {
    position: absolute;
    left: 0px;
    right: 0px;
    top:44px;
    bottom: 0px;
    background: #fff7cc;
    padding: 4px;
    display: none;
}

#updateBlackHoleList {
    margin-bottom: 4px;
}

#updateBlackHoleListField {
    width: 100%;
    height: calc(100% - 25px);
}

.chatHelperMain {
    height: 100%;
    vertical-align: top;

    border: 1px solid #CCC;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;

    padding: 4px;
}

.chatHelperForceScrollParent {
    height: 100%;
    overflow-y: scroll;
}

.chatHelperContainer {
    width: 400px;
    float:left;
    margin-right:4px;
    height: calc(100% - 36px);
    padding: 4px;
}

.chatHelperInput {
    width: 100%;
    min-width: 100px;
}

.chatHelperButtonCon {
    white-space: nowrap;
}

.closeButtonHolder {
    height: 32px;
}

.helperButtonRow {
    margin-top: 4px;
}

.smallButton {
    width: auto !important;
    white-space: pre;
}

.omegleWindow pre {
    border: none;
    background: none;
    padding: 0px;
    overflow: hidden;
}

.fixedButton {
    width: 120px;
}

hr {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
    border-top: 1px solid #AAA;
}

.smallerChatButton {
    padding: 2px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    margin-right: 4px;
}

.buttonHolder {
    display: inline-block;
    height: 90px;
}

.buttonHolderTable {
    margin-top: 4px;
}

.bottomContainer {
    top: 5%;
}

.debugMode .bottomContainer {
    height: calc(360px + 120px);
}

.videoEnabled .bottomContainer {
    height: 426px;
}

.chatHelperBottomButtonCon{
    padding-top: 4px;
    text-align: center;
}

.chatHelperBottomButtonConMargin {
    margin-left: 4px;
    margin-right: 4px;
}

.chatHelperStringTable {
    width: 100%;
}

.omegleContainer a {
    cursor: pointer;
    cursor: hand;
}
